# Enable dot files in root folder

!.*

# Disable project generated folders

/.dependencygraph
/.git
/.history
/.husky
/.next
/.storybook
/.vscode
/build*
/coverage
/.idea
/i18n
/node_modules
/public
/public-src
/publish
/types
/utils

# Ignore libraries

/bw_matchbox/assets/js/libs/

# Log files

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project folders
bw_matchbox.egg-info
docs
tests

# Temp & hidden files
/temp
**/*_{BACKUP,BASE,LOCAL,REMOTE}_*
**/*UNUSED
**/*.bak
**/*.tmp
**/.*sw?
**/*_
package-lock.*
.DS_Store
