/.dependencygraph
/.git
/.github
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/public
/public-src
/publish
/types
/utils

# Project folders
bw_matchbox.egg-info
docs
tests

# Don't prettify data and library files...
/bw_matchbox/data
/bw_matchbox/assets/js/libs/

# Don't prettify compexly-formatted html modules...
*.html

# Don't prettify manually-written markdowns...
/*.md

# Library file
bw_matchbox/assets/css/skeleton.css

package-lock.*
**/*_
