.allocate-layout {
  --border-color: #ddd;
  --allocate-groups-toolbar-items-size: 38px;
  /* Effects colors */
  --allocate-groups-bg-color05: rgb(30 174 219 / 5%);
  --allocate-groups-bg-color1: rgb(30 174 219 / 10%);
  --allocate-groups-bg-color2: rgb(30 174 219 / 20%);
  --allocate-groups-bg-color3: rgb(30 174 219 / 30%);
  --allocate-groups-bg-color4: rgb(30 174 219 / 40%);
  --allocate-groups-bg-color5: rgb(30 174 219 / 50%);
  --allocate-groups-animation-time: 1.5s;
  /* Groups variables */
  --allocate-groups-expand-button-size: 24px;
  --allocate-groups-title-action-button-size: 24px;
  --allocate-groups-expand-button-title-top-margin: 5px;
  --allocate-groups-expand-button-gap: 8px;
}

.allocate-layout {
  display: flex;
  flex-direction: column;
}

.allocate-layout .allocate-header,
.allocate-layout .allocate-groups-content,
/* .allocate-layout .allocate-columns-layout-column, */
.allocate-layout .allocate-sources-column {
  padding: 20px;
}
.allocate-layout .allocate-header {
  padding-bottom: 0;
}

/* .allocate-layout h3, */
.allocate-layout .allocate-header .common-page-header,
.allocate-layout .allocate-header .common-page-header .title {
  margin-bottom: 0;
}

.allocate-layout .allocate-columns-layout {
  /* border: 1px solid green; */
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: stretch;
  align-content: stretch;
  border-top: 1px solid var(--border-color);
  flex-direction: column;
  transition: all var(--common-animation-time);
  opacity: 0;
}
.allocate-layout.inited .allocate-columns-layout {
  opacity: 1;
}

.allocate-layout .allocate-groups-column {
  border-bottom: 1px solid var(--border-color);
}
.allocate-layout .allocate-groups-toolbar {
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid var(--border-color);
}

.allocate-layout.has-groups .groups-empty {
  display: none;
}

/* Adaptive layout */
@media screen and (width < 600px) {
  .allocate-layout .allocate-groups-column {
    width: 100% !important; /* Override resized width, if was resized */
    overflow: auto;
  }
}
@media screen and (width >= 600px) {
  .allocate-layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .allocate-layout .allocate-groups-toolbar {
    flex-shrink: 0;
  }
  .allocate-layout .allocate-groups-content {
    flex: 1;
  }
  /* .allocate-layout .allocate-columns-layout-column, */
  .allocate-layout .allocate-groups-content,
  .allocate-layout .allocate-sources-column {
    overflow: auto;
  }
  .allocate-layout .allocate-columns-layout {
    flex-direction: row;
  }
  .allocate-layout .allocate-groups-column {
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    border-right: 1px solid var(--border-color);
    /* Make columns resizable */
    resize: horizontal;
    overflow: hidden;
    width: 30%;
    min-width: 20%;
    max-width: 80%;
  }
  .allocate-layout .allocate-sources-column {
    /* border: 1px solid purple; */
    flex: 1;
  }
}

/* Groups toolbar */
.allocate-layout .allocate-groups-toolbar {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all var(--common-animation-time);
  flex-wrap: wrap;
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon {
  flex-shrink: 0;
  color: #777;
  border-radius: 4px;
  width: var(--allocate-groups-toolbar-items-size);
  height: var(--allocate-groups-toolbar-items-size);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.25;
  transition: all var(--common-animation-time);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon.disabled {
  opacity: 0.25;
  pointer-events: none;
  background-color: rgba(0 0 0 / 15%);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled) {
  cursor: pointer;
  opacity: 0.5;
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled),
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled)[class*='theme-'] {
  color: #fff;
  background-color: #999;
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon.theme-primary:not(.disabled) {
  background-color: var(--layout-theme-primary-color);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon.theme-warn:not(.disabled) {
  background-color: var(--common-warn-color);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon.theme-error:not(.disabled) {
  background-color: var(--common-error-color);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon.theme-success:not(.disabled) {
  background-color: var(--common-success-color);
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled):active,
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled):hover {
  opacity: 1;
}
.allocate-layout .allocate-groups-toolbar > a.toolbar-icon:not(.disabled):active {
  color: var(--layout-theme-primary-color);
  box-shadow: 0 0 4px var(--layout-theme-primary-color);
  background-color: #fff;
}

/** Info section */

.allocate-layout .info-tableau {
  position: relative;
  transition: all var(--common-animation-time);
  min-height: 40px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  justify-content: center;
}
.allocate-layout.loading .info-tableau {
  min-height: 50px;
}

/* Statistics */
.allocate-layout .info-tableau .statistics-info {
  text-align: center;
}
.allocate-layout .info-tableau .statistics-info-item {
  display: inline-block;
  margin: 0 5px;
}
.allocate-layout .info-tableau .statistics-info-item label {
  display: inline-block;
  opacity: 0.5;
  margin-bottom: 0;
  font-weight: normal;
}
.allocate-layout.has-groups .info-tableau .no-groups-info {
  display: none;
}
.allocate-layout .info-tableau .no-groups-info {
  text-align: center;
}
.allocate-layout .info-tableau .no-groups-info .fa {
  color: var(--layout-theme-primary-color);
}

/* Error */
.allocate-layout .info-tableau .error {
  border-radius: 4px;
  background-color: var(--common-error-color);
  color: #fff;
  margin: 10px 0;
  padding: 10px 20px;
}
.allocate-layout:not(.has-error) .info-tableau .error {
  display: none;
}

/* Loader splash */
.allocate-layout .info-tableau .loader-splash {
  padding: 20px;
}
.allocate-layout.inited:not(.loading) .info-tableau .loader-splash {
  /* Inherited from `.loader-splash.hidden`, see `bw_matchbox/assets/css/common.css` */
  opacity: 0;
  pointer-events: none;
}

/** Data tables */

/* Hide empty table, show empty information blocks */
.allocate-layout.has-technosphere-data .technosphere-empty,
.allocate-layout:not(.has-technosphere-data) .inputs-table-technosphere,
.allocate-layout.has-biosphere-data .biosphere-empty,
.allocate-layout:not(.has-biosphere-data) .inputs-table-biosphere,
.allocate-layout.has-production-data .production-empty,
.allocate-layout:not(.has-production-data) .inputs-table-production {
  display: none;
}

/* Hide grouped rows */
.allocate-layout .inputs-table tbody tr {
  transition: all var(--common-animation-time);
}
.allocate-layout .inputs-table .input-row.in-group {
  display: none;
}
.allocate-layout .inputs-table .input-row.dragging {
  background: var(--allocate-groups-bg-color1);
  background: repeating-linear-gradient(
    45deg,
    var(--allocate-groups-bg-color2),
    var(--allocate-groups-bg-color2) 10px,
    var(--allocate-groups-bg-color1) 10px,
    var(--allocate-groups-bg-color1) 20px
  );
  animation: allocate-groups-dragging-animation var(--allocate-groups-animation-time) infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.5;
  pointer-events: none;
}
/* Dragging row animation... */
@keyframes allocate-groups-dragging-animation {
  0% {
    background-color: var(--allocate-groups-bg-color3);
  }

  50% {
    background-color: var(--allocate-groups-bg-color05);
  }

  100% {
    background-color: var(--allocate-groups-bg-color3);
  }
}

/** Groups */

.allocate-layout .allocate-groups-list {
}
.allocate-layout .allocate-groups-list .group {
  display: flex;
  flex-direction: column;
}
.allocate-layout .allocate-groups-list .group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--allocate-groups-expand-button-gap);
  margin: 5px 0;
}

.allocate-layout .allocate-groups-list .group-header .expand-button-wrapper {
  margin-top: 1px;
  font-size: 0.75em;
  padding-bottom: 2px;
}
.allocate-layout .allocate-groups-list .group-header .title {
  flex: 1;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.allocate-layout .allocate-groups-list .group-header .expand-button,
.allocate-layout .allocate-groups-list .group-header .expand-button-wrapper {
  width: var(--allocate-groups-expand-button-size);
  height: var(--allocate-groups-expand-button-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.allocate-layout .allocate-groups-list .group-header .expand-button,
.allocate-layout .allocate-groups-list .group-header .expand-button-wrapper {
  transition: all var(--common-animation-time);
  border-radius: 50%;
}
.allocate-layout .allocate-groups-list .group.empty .group-header .expand-button {
  color: #ccc;
  cursor: default;
  opacity: 0.25;
  pointer-events: none;
}
.allocate-layout .allocate-groups-list .group:not(.empty) .group-header .expand-button {
  cursor: pointer;
  color: #bbb;
  opacity: 0.75;
}
.allocate-layout .allocate-groups-list .group:not(.empty) .group-header {
  cursor: pointer;
  transition: all var(--common-animation-time);
}
.allocate-layout .allocate-groups-list .group:not(.empty) .group-header:hover .expand-button {
  background-color: var(--layout-theme-primary-color);
  color: rgba(255 255 255 / 75%);
  opacity: 0.75;
}
.allocate-layout .allocate-groups-list .group.expanded .group-header .expand-button {
  transform: rotate(90deg);
}
.allocate-layout .allocate-groups-list .group:not(.expanded) .group-content {
  display: none;
}

/* Title actions */
.allocate-layout .allocate-groups-list .group.expanded .group-header .title-actions {
  /* Adjust group title actions block position */
  /* margin-top: -2px; */
  /* margin-right: -2px; */
}
.allocate-layout .title-actions {
  /* align-self: flex-start; */
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.allocate-layout .title-actions a {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--comments-title-action-button-size);
  height: var(--comments-title-action-button-size);
  border-radius: 4px;
  opacity: 0.5;
}
.allocate-layout .title-actions a.disabled {
  color: #ddd;
  cursor: default;
}
.allocate-layout .title-actions a:not(.disabled) {
  color: #bbb;
  transition: all var(--common-animation-time);
  cursor: pointer;
}
.allocate-layout .group-header:hover .title-actions a:not(.disabled) {
  color: var(--layout-theme-primary-color);
}
.allocate-layout .group-header:hover .title-actions a.theme-success:not(.disabled) {
  color: var(--common-success-color);
}
.allocate-layout .group-header:hover .title-actions a.theme-warn:not(.disabled) {
  color: var(--common-warn-color);
}
.allocate-layout .group-header:hover .title-actions a.theme-error:not(.disabled) {
  color: var(--common-error-color);
}
.allocate-layout .title-actions a:not(.disabled):active,
.allocate-layout .title-actions a:not(.disabled):hover {
  opacity: 1;
}
.allocate-layout .title-actions a:not(.disabled):active {
  background-color: var(--layout-theme-primary-color);
  box-shadow: 0 0 4px 2px var(--layout-theme-primary-color);
  color: #fff;
}
