.allocate-layout {
  --border-color: #ddd;
}

.allocate-header,
.allocate-columns-layout-column {
  padding: 20px;
}
.allocate-header {
  /* padding-top: 0; */
  padding-bottom: 0;
}

.allocate-layout {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.allocate-layout .allocate-columns-layout {
  /* border: 1px solid green; */
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: stretch;
  align-content: stretch;
  border-top: 1px solid var(--border-color);
  flex-direction: column;
}

.allocate-layout .allocate-columns-layout-column {
  overflow: auto;
}

.allocate-layout .allocate-groups-column {
  border-bottom: 1px solid var(--border-color);
}

/* Adaptive layout */
@media screen and (width >= 600px) {
  .allocate-layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .allocate-layout .allocate-columns-layout {
    flex-direction: row;
  }
  .allocate-layout .allocate-groups-column {
    border-bottom: 0;
    border-right: 1px solid var(--border-color);
    /* Make columns resizable */
    resize: horizontal;
    width: 30%;
  }
  .allocate-layout .allocate-sources-column {
    /* border: 1px solid purple; */
    flex: 1;
  }
}

/* Info section */
.allocate-layout .info-tableau {
  position: relative;
  transition: all var(--common-animation-time);
  min-height: 0;
}
.allocate-layout.loading .info-tableau {
  min-height: 50px;
}

/* Error */
.allocate-layout .info-tableau .error {
  border-radius: 4px;
  background-color: var(--common-error-color);
  color: #fff;
  margin: 20px auto;
  padding: 10px 20px;
}
.allocate-layout:not(.has-error) .info-tableau .error {
  display: none;
}

/* Loader splash */
.allocate-layout .info-tableau .loader-splash {
  padding: 20px;
}
.allocate-layout:not(.loading) .info-tableau .loader-splash {
  /* Inherited from `.loader-splash.hidden`, see `bw_matchbox/assets/css/common.css` */
  opacity: 0;
  pointer-events: none;
}


