.comments-root .filters {
}

.comments-root .filters .debug-info {
  opacity: 0.5;
}

.comments-root .filters label,
.comments-root .filters select {
  display: inline-block;
}

.comments-root .filters label {
  margin-right: 8px;
}
