/* stylelint-disable selector-id-pattern */

.comments-root .filters {
}

.comments-root .filters .debug-info {
  opacity: 0.5;
}

.comments-root .filters label,
.comments-root .filters select,
.comments-root .filters button {
  margin: 0;
  margin-bottom: 5px;
}

.comments-root .filters label {
  opacity: 0.5;
  white-space: nowrap;
}

/* Filters layout */
.comments-root .filters {
  display: flex;
  gap: 10px;
  align-items: center;
  align-items: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.comments-root .filters select[size],
.comments-root .filters select[multiple] {
  height: 10.5em;
}
.comments-root .filters select[size] option,
.comments-root .filters select[multiple] option {
  padding: 0.25em 8px;
  margin: 0.25em 0;
  border-radius: 4px;
}

.comments-root .filters .debug-info {
  width: 100%;
  flex: 0 0 100%;
}

/* Show/hide respectively items */
.comments-root:not(.has-processes) .filters #filterItemByProcesses,
.comments-root:not(.has-users) .filters #filterItemByUsers {
  display: none;
}
