/* stylelint-disable selector-id-pattern, selector-class-pattern */

/* Root node */
.comments-root {
  margin-bottom: 20px;
}

/* ByMyThreads filter */
.comments-root .notByMyThreads {
  transition: all var(--common-animation-time);
}
.comments-root.filterByMyThreads .notByMyThreads {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.comments-root:not(.filterByMyThreads) #filterByMyThreadsIcon {
  display: none;
}

/* Loading state: disable some elements... */
.comments-root > * {
  transition: all var(--common-animation-time);
}
.comments-root.loading .filters {
  opacity: 0.5;
  pointer-events: none;
}

/* Data table */
.comments-root .threads-list {
  margin: 20px 0;
}

/* Bottom actions (TODO: Just copied from `processes-list.css`) */
.comments-root .bottom-actions {
  position: relative;
  margin: 10px 0;
  min-height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
