:root {
  /* Primary color */
  --layout-theme-primary-color: #33c3f0; /* aka rgb(51,195,240) */
  /* Primary colors for hovered elements */
  --layout-theme-primary-color-dark1: #1eaedb; /* aks rgb(30,174,219) */
  --layout-theme-primary-color-dark2: #0fa0ce; /* aks gb(15,160,206) */
  /* Error color */
  --layout-theme-common-error-color: #c33;
  /* Animations */
  --common-animation-time: 250ms;
  --common-effect-time: 500ms;
  /* Main colors */
  --common-error-color: #b00;
  --common-warn-color: #960;
  --common-success-color: #181;
  --common-tools-icon-size: 28px;
}

/* Basic layout */

/* Issue #7: Widen default Skeleton page width */

.container {
  /* Re-limit max width of column: allow it to be wider */
  max-width: 1600px;
}

/* Loader splash */
.loader-splash {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--common-animation-time);
}
.loader-splash.hidden {
  opacity: 0;
  pointer-events: none;
}
.loader-splash.full-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.loader-splash.full-size {
  flex: 1;
}
/* Background colors */
.loader-splash.bg-white,
.loader-splash.bg-page {
  background-color: #fff;
}
.loader-splash.bg-black {
  background-color: #000;
}
.loader-splash.bg-primary {
  background-color: var(--layout-theme-primary-color);
}
.loader-splash.bg-neutral,
.loader-splash.bg-gray {
  background-color: #999;
}

/* Loader spinner */
.loader-spinner {
  position: relative;
}
.loader-spinner,
.loader-spinner::before {
  /* Full-size */
  height: 40px;
  width: 40px;
}
.loader-spinner::before {
  /* Half-size offset */
  margin-top: -20px;
  margin-left: -20px;
  /* Colors */
  border: 2px solid var(--layout-theme-primary-color);
  border-top-color: transparent;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: loader-spinner-rotating-spinner 1.5s linear infinite;
}
@keyframes loader-spinner-rotating-spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Multicolumn process detail list */
.details-list {
  column-gap: 20px;
  column-rule: 1px solid #eee;
  column-width: 300px;
  list-style-type: none;
  line-height: 1.25;
}
.details-list li {
  margin: 5px 0;
}
/* // UNUSED? Using the same width on the all scren widths?
 * @media (width >= 1300px) {
 *   .details-list {
 *     column-width: 350px;
 *   }
 * }
 */
.details-list label {
  display: inline;
  opacity: 0.5;
  font-weight: normal;
}

/* Generic page header */
.common-page-header {
  /*
  display: flex;
  align-items: flex-start;
  gap: 10px;
  */
  margin: 20px 0;
}
.common-page-header .title {
  /* font-size: 2.5rem; */
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: lighter;
  flex: 1;
  /* display: flex; */
}
.common-page-header .title a {
  text-decoration: none;
  color: var(--layout-theme-primary-color-dark1);
  transition: all var(--common-animation-time);
}
.common-page-header .title a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  /* text-decoration-style: dashed; */
  /* color: var(--layout-theme-primary-color-dark2); */
  color: #333;
}
.common-page-header .tools {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.common-page-header .tools-wrapper {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.common-page-header .tools-wrapper > a.tools-icon {
  background-color: var(--layout-theme-primary-color);
  color: #fff;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: var(--common-tools-icon-size);
  height: var(--common-tools-icon-size);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--common-animation-time);
}
.common-page-header .tools-wrapper > a.tools-icon.hidden {
  display: none;
}
.common-page-header .tools-wrapper > a.tools-icon.disabled {
  background-color: #ccc;
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}
.common-page-header .tools-wrapper > a.tools-icon:not(.disabled) {
  cursor: pointer;
  opacity: 0.5;
}
.common-page-header .tools-wrapper > a.tools-icon:not(.disabled):active,
.common-page-header .tools-wrapper > a.tools-icon:not(.disabled):hover {
  text-decoration: none;
  background-color: var(--layout-theme-primary-color-dark1);
  box-shadow: 0 0 4px var(--layout-theme-primary-color-dark1);
  opacity: 1;
  color: #fff;
}
.common-page-header .tools-wrapper > a.tools-icon:not(.disabled):active {
  background-color: var(--layout-theme-primary-color-dark2);
  box-shadow: 0 0 8px 2px var(--layout-theme-primary-color-dark1);
}
