:root {
  --collapsed-color: #F60;
  --collapsed-bg-color: rgba(255,102,0,.1);
  --selected-color: #1EAEDB;
  --selected-bg-color1: rgba(30,174,219,.1);
  --selected-bg-color2: rgba(30,174,219,.2);
  --selected-bg-color5: rgba(30,174,219,.5);
  --animation-time: 250ms;
}

.compare .compare-tables {
}
.compare .compare-tables > .column {
  /* DEBUG */
  /* border: 1px solid red; */
  overflow: visible;
}
.compare .compare-tables > .column > table {
  /* DEBUG */
  /* border: 1px solid green; */
}

/* Fix skeleton styles to add some extra space for inner shadow (to indicate selected status)... */
.compare-table th:first-child,
.compare-table td:first-child {
  padding-left: 12px;
}
.compare-table th:last-child,
.compare-table td:last-child {
  padding-right: 12px;
}

/* Selected styles themselves... */
.compare-table tbody tr {
  transition: all var(--animation-time) ease;
  cursor: pointer; /* All rows are always interactive. */
  transition: all var(--animation-time) ease;
}
.compare-table tbody tr:hover {
  background-color: var(--selected-bg-color1);
}

/* Selected row... */

.compare-table tr.selected {
  box-shadow: 0 0 4px var(--selected-color), inset 0 0 2px var(--selected-color);
  background-color: var(--selected-bg-color1);
}
.compare-table tr.selected td {
  /* Remove nested td borders */
  border-color: transparent;
}

/* Collapsed row... */

.compare-table tr.collapsed {
  box-shadow: 0 0 4px var(--collapsed-color), inset 0 0 2px var(--collapsed-color);
  background-color: var(--collapsed-bg-color);
  display: none;
}

.compare-table tr.collapsed-handler {
  /* box-shadow: 0 0 4px var(--selected-bg-color5), inset 0 0 4px var(--selected-bg-color5); */
  cursor: pointer;
  background-color: var(--selected-bg-color1);
  background: repeating-linear-gradient(
    45deg,
    var(--selected-bg-color2),
    var(--selected-bg-color2) 10px,
    var(--selected-bg-color1) 10px,
    var(--selected-bg-color1) 20px
  );
}
.compare-table tr.collapsed-handler td {
  padding: 0;
  font-size: 15px;
  line-height: 1;
  transition: all var(--animation-time) ease;
}
.compare-table tr.collapsed-handler td:hover {
  background-color: var(--selected-bg-color2);
}

