/* Multicolumn process detail list */
.process-detail .details-list {
  column-gap: 20px;
  column-rule: 1px solid #eee;
  column-width: 300px;
  list-style-type: none;
  line-height: 1.25;
}
/* // UNUSED? Using the same width on the all scren widths?
 * @media (width >= 1300px) {
 *   .process-detail .details-list {
 *     column-width: 350px;
 *   }
 * }
 */
.process-detail .details-list label {
  display: inline;
  opacity: 0.5;
  font-weight: normal;
}

#mark-waitlist-dialog-modal #mark-waitlist-ok.disabled {
  opacity: 0.5;
  pointer-events: none;
}