/* stylelint-disable selector-class-pattern */

.thread-comments {
  position: relative;
}

.thread-comments .threads-list-tableau {
  position: relative;
  min-height: 40px; /* Ensure space for loading splash */
}
.thread-comments.noTableau .threads-list-tableau {
  display: none;
}

/* Basic rules... */
.thread-comments > * {
  transition: all var(--common-animation-time);
}

/* Empty state: hide some elements... */
.thread-comments.empty .threads-list,
.thread-comments.loading .threads-list-empty,
.thread-comments.has-visible-threads .threads-list-empty {
  display: none;
}
.thread-comments .threads-list-empty {
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  opacity: 0.5;
}

/** Loading elements */
.thread-comments.loading .threads-list,
.thread-comments.loading .threads-list-empty {
  opacity: 0.5;
  pointer-events: none;
}

/* Loader splash */
.thread-comments.noError .loader-splash {
  display: none;
}
.thread-comments .loader-splash {
  padding: 20px;
}
.thread-comments:not(.loading) .loader-splash {
  /* Inherited from `.loader-splash.hidden`, see `bw_matchbox/assets/css/common.css` */
  opacity: 0;
  pointer-events: none;
}

/* Error */
.thread-comments .error {
  border-radius: 4px;
  background-color: var(--common-error-color);
  color: #fff;
  margin: 20px auto;
  padding: 10px 20px;
}
.thread-comments.noError .error,
.thread-comments:not(.has-error) .error {
  display: none;
}
