<link rel="stylesheet" href="{{ url_for('static', filename='css/common-modal.css') }}">
<script src="{{ url_for('static', filename='js/common/CommonModal.js') }}"></script>

<div class="modal-wrapper">
  <div class="modal" id="common-modal">
    <div class="modal-splash"></div>
    <div class="modal-window">
      <div class="modal-header">
        <h3 class="modal-title"><!-- Modal title placehodler --></h3>
        <div class="close" title="Close modal">&times;</div>
      </div>
      <div class="modal-content">
        <div class="modal-content-wrapper" id="modal-content-wrapper">
          <!-- Modal content placehodler -->
        </div>
      </div>
    </div>
  </div>
</div>
