{% include 'header.html' %}

{# TODO:
  - Add control for `order_by` parameter (name, location, product; default (empty) -- random.
  - Add pagination navigation (probably above and below the table?). Pass `offset` and `limit` parameters to request.
  - Add loading spinner (to be displayed while data loading).
  - Add place to show loading (network) errors.
  - Make request with above parameters to `GET /processes` on page load and on pagfintation or order controls changed.
#}

<link rel="stylesheet" href="{{ url_for('static', filename='css/processes-list.css') }}">

<script src="{{ url_for('static', filename='js/ProcessesListConstants.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListData.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListDataLoad.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListDataRender.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListNodes.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListPagination.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListSearch.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesListStates.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProcessesList.js') }}"></script>

{# Globals:
  - `ProcessesList` (from `bw_matchbox/assets/js/processes-list.js`)
#}

<div id="processes-list-root" class="container processes-list empty loading">
  {% include 'navigation.html' %}
  <div class="row">
    <div class="column">
      <div class="page-header">
        <h1>
          {% if unmatched_link %}Source Database <a href="{{ url_for('unmatched') }}">(Only unmatched)</a>
          {% else %}Unmatched in Source Database
          {% endif %}
        </h1>
      </div>
      <div class="page-search">
        <p><input class="u-full-width" placeholder="Enter value to search" value="{{ query_string }}" id="query_string"></p>
      </div>
      <div class="page-filters">
        {# Control for `order_by` parameter (name, location, product; default (empty) -- random. #}
        <label class="radio-group-title">Order by:</label>
        <input type="radio" name="order_by" id="order_by_random" value="" onChange="ProcessesList.onOrderByChange(this)" checked>
        <label for="order_by_random">Random</label>
        <input type="radio" name="order_by" id="order_by_name" value="name" onChange="ProcessesList.onOrderByChange(this)">
        <label for="order_by_name">Name</label>
        <input type="radio" name="order_by" id="order_by_location" value="location" onChange="ProcessesList.onOrderByChange(this)">
        <label for="order_by_location">Location</label>
        <input type="radio" name="order_by" id="order_by_product" value="product" onChange="ProcessesList.onOrderByChange(this)">
        <label for="order_by_product">Product</label>
      </div>
      <div id="processes-list-error" class="error">
        Sample error text.
      </div>
      <div class="table-pagination"></div>
      <table id="processes-list-table" class="processes-list-table" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Unit</th>
            <th>Matched</th>
          </tr>
        </thead>
        <tbody id="processes-list-table-body">
          {# TODO: Replace this server code with client-populated js code #}
          <!--
          {% for row in table_data %}
            <tr>
              <td><a href="{{ url_for('process_detail', id=row.id) }}">{{row.name}}</a></td>
              <td>{{row.location}}</td>
              <td>{{row.unit}}</td>
              <td>
                {% if row.matched %}
                  <a class="button" href="{{ url_for("match", source=row.id)}}"><i class="fa-solid fa-check"></i> EDIT</a>
                {% else %}
                  <a class="button button-primary" href="{{ url_for("match", source=row.id)}}"><i class="fa-solid fa-circle-xmark"></i> ADD</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          -->
        </tbody>
      </table>
      <div class="table-pagination"></div>
      <div id="loader-splash" class="loader-splash"><div class="loader-spinner"></div></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Initialize page data...
  const sharedParams = {
    searchUrl: '{{ url_for("search") }}',
    database: '{{ database }}',
  };
  // Start page routines...
  ProcessesList.start(sharedParams);
</script>
{% include 'footer.html' %}
