{% include 'header.html' %}

{# TODO:
  - Add control for `order_by` parameter (name, location, product; default (empty) -- random.
  - Add pagination navigation (probably above and below the table?). Pass `offset` and `limit` parameters to request.
  - Add loading spinner (to be displayed while data loading).
  - Add place to show loading (network) errors.
  - Make request with above parameters to `GET /processes` on page load and on pagfintation or order controls changed.
#}

<link rel="stylesheet" href="{{ url_for('static', filename='css/processes-list.css') }}">

<script src="{{ url_for('static', filename='js/processes-list-constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/processes-list.js') }}"></script>

{# Globals:
  - `processesList` (from `bw_matchbox/assets/js/processes-list.js`)
#}

<div class="container processes-list">
  {% include 'navigation.html' %}
  <div class="row">
    <div class="column">
      <div class="page-header">
        <h1>
          {% if unmatched_link %}Source Database <a href="{{ url_for('unmatched') }}">(Only unmatched)</a>
          {% else %}Unmatched in Source Database
          {% endif %}
        </h1>
      </div>
      <div class="page-search">
        <p><input class="u-full-width" placeholder="Enter value to search" value="{{ query_string }}" id="query_string"></p>
      </div>
      <div class="page-filters">
        {# Control for `order_by` parameter (name, location, product; default (empty) -- random. #}
        <label class="radio-group-title">Order by:</label>
        <input type="radio" name="order_by" id="order_by_random" value="" onChange="processesList.onOrderByChange(this)" checked>
        <label for="order_by_random">Random</label>
        <input type="radio" name="order_by" id="order_by_name" value="name" onChange="processesList.onOrderByChange(this)">
        <label for="order_by_name">Name</label>
        <input type="radio" name="order_by" id="order_by_location" value="location" onChange="processesList.onOrderByChange(this)">
        <label for="order_by_location">Location</label>
        <input type="radio" name="order_by" id="order_by_product" value="product" onChange="processesList.onOrderByChange(this)">
        <label for="order_by_product">Product</label>
      </div>
      <div class="page-navigation">
        Navigation
      </div>
      <table width="100%">
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Unit</th>
          <th>Matched</th>
        </tr>
        {% for row in table_data %}
        <tr>
          <td><a href="{{ url_for('process_detail', id=row.id) }}">{{row.name}}</a></td>
          <td>{{row.location}}</td>
          <td>{{row.unit}}</td>
          <td>
            {% if row.matched %}
              <a class="button" href="{{ url_for("match", source=row.id)}}"><i class="fa-solid fa-check"></i> EDIT</a>
            {% else %}
              <a class="button button-primary" href="{{ url_for("match", source=row.id)}}"><i class="fa-solid fa-circle-xmark"></i> ADD</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  const sharedParams = {
    searchUrl: '{{ url_for("search") }}',
    database: '{{ database }}',
  };
  processesList.start(sharedParams);
</script>
{% include 'footer.html' %}
