{% include 'header.html' %}
<div class="container">
  {% include 'navigation.html' %}
  <div class="row">
    <h1>Select Matchbox Configuration</h1>
    <form method="post">
      <div class="row">
        <div class="9 columns">
          <select class="u-full-width" id="config" name="config">
            {% for label in config_labels %}
            <option value="{{ label }}">{{ label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="2 columns">
          <input class="button-primary" type="submit" value="Select">
        </div>
    </form>
{% include 'footer.html' %}
